body{
background-color: rgb(255, 248, 238);
}
h1{
    
    font-family: 'Chicle', 'cursive','Open Sans', sans-serif;
    padding-top:30px; 
    text-align: center;
   
    font-size: 50px;

}
h2{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    padding-top: 50px;
}

#logo{
    width:60px;
    height:60px;
    display: inline-block;
    padding-left: 100px;
 

}
#skillsphoto{
    padding-top:150px;
    width: 350px;
    height: 250px;
    padding-bottom: 50px;
    padding-left: 60px;

}
.logo{
    width: 23%;
    padding:1%;
    text-align: center;
}

#latestworkphoto{
    width: 350px;
    height: 150px;
    padding-left: 120px;
}
#rootedphoto{
    width: 700px;
    height: 350px;
    border-color: black;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
#nonprofitphoto{
    width: 700px;
    height: 350px;
    border-color: black;
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
}


li{
    display: inline;
    float:right;
    padding-top: 20px;
    color: black;
    vertical-align: top;
    padding-right: 100px;

}
ul{
    
}
/* ul{
    /* width: 50%; */
    /* margin-left: auto; */
/* } */ 
/* .ul2{
    
    vertical-align: top;
    text-align: center;

} */
.lines{
    padding: 30px;
    display: inline-block;

    
   

}

nav{
   display: inline;
   width:50%;
   
}

/* .heroImg{
    height: 800px;
    padding: 25px;
} */

footer{
    /* display: inline; */
    background-color:rgb(243, 213, 159);
    text-align: center;
    
    
}



